<h2>THE TITLE!</h2>
<div class="cuisine-buttons">
  <ul>
  <% @cuisines.each do |cuisine| %>
    <li><%= button_to cuisine, search_path, params: {:cuisine => cuisine}, :remote => true %></li>
    <% end %>
  </ul>
</div>

<div id="map-canvas"></div>