<h1>Hot Pockets</h1>

<div class="cuisine-buttons">
  <ul class="row">
  <% @cuisines.each do |cuisine| %>
    <li><%= button_to cuisine, search_path, params: {:cuisine => cuisine}, :remote => true, :class => "btn btn-primary"%></li>
    <% end %>
  </ul>
  <ul class="row">
      <button class="btn btn-info" onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button class="btn btn-info" onclick="changeGradient()">Change Gradient</button>
      <button class="btn btn-info" onclick="changeRadius()">Change Radius</button>
      <button class="btn btn-info" onclick="changeOpacity()">Change Opacity</button>
  </ul>
</div>