<h1>FoodHeatNyc</h2>

<div class="cuisine-buttons">
  <ul class="row">
  <% @cuisines.each do |cuisine| %>
    <li><%= button_to cuisine, search_path, params: {:cuisine => cuisine}, :remote => true, :class => "btn btn-default btn-xs"%></li>
    <% end %>
  </ul>
</div>