<div class="container" style="margin-top: -50px">
      <table>
        <tr>
          <td><h1>Hot Pockets</h1></td>
          <td class="count"><span class="count"></span></td>
        </tr>
      </table>
      
    
  <div class="cuisine-buttons">
    <ul class="row">
    <% @cuisines.each do |cuisine| %>
      <li><%= button_to cuisine, search_path, params: {:cuisine => cuisine}, :remote => true, :class => "btn btn-primary"%></li>
      <% end %>
    </ul>
    <ul class="row">
        <button class="btn btn-info" onclick="toggleHeatmap()">Toggle Heatmap</button>
        <button class="btn btn-info" onclick="changeGradient()">Change gradient</button>
        <button class="btn btn-info" onclick="changeRadius()">Change radius</button>
        <button class="btn btn-info" onclick="changeOpacity()">Change opacity</button>
        <span class="hidden" id="show-pins-btn"><button class="btn btn-info">Show Restaurants</button></span>
        <span class="hidden" id="hide-pins-btn"><button class="btn btn-info">Hide Restaurants</button></span>

    </ul>
  </div>
</div>
<body>
  <div id="panel"
    <ul class="row">
      <button class="btn btn-info" onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button class="btn btn-info" onclick="changeGradient()">Change gradient</button>
      <button class="btn btn-info" onclick="changeRadius()">Change radius</button>
      <button class="btn btn-info" onclick="changeOpacity()">Change opacity</button>
      <span class="hidden" id="show-pins-btn"><button class="btn btn-info">Show Restaurants</button></span>
      <span class="hidden" id="hide-pins-btn"><button class="btn btn-info">Hide Restaurants</button></span>
    </ul>
  </div>
</body>



  <div id="map-canvas"></div>
