<h2>THE TITLE!</h2>
<div class="cuisine-buttons">
  <ul>
    <%= button_to "Japanese", search_path, params: {:cuisine => "Japanese"} %>
    <%= button_to "Chinese", search_path, params: {:cuisine => "Chinese"} %>
  </ul>
</div>