<div>

      
    
  <div class="cuisine-buttons">
    <ul class="button-row">
    <% @cuisines.each do |cuisine| %>
      <li class="cuisine-li"><%= button_to cuisine, search_path, params: {:cuisine => cuisine}, :remote => true, :class => "btn btn-primary"%></li>
      <% end %>
    </ul>
  </div>

  <!-- <span class="count"></span> -->

</div>

<!-- Fact Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Loading...</h4>
      </div>
      <div id="fact" class="modal-body">
        Did You Know?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End Fact Modal -->

<!-- About Modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="about-modal-title" id="myModalLabel">ABOUT HOTPOCKETS.NYC</h4>
      </div>
      <div id="fact" class="modal-body">
        
        <p>There is so much we can learn about people by looking at the kinds of foods that surround them. As New Yorkers, we understand that much of our cultural richness is thanks to the  backgrounds of its diverse people. HotPockets is an effort to provide  visual representation of where New York's different communities are typically concentrated.</p>

        <p>Get out of the city and into the boroughs!</p>

        <p>HotPockets was built at <a href="http://www.flatironschool.com">The Flatiron School</a> by:
       
          <a href="http://www.jayify.me" target="_blank">Jay Jacobs</a> | 
          <a href="http://programmingsprouts.wordpress.com" target="_blank">Jennifer Sardina</a> | 
          <a href="http://jeremysklarsky.github.io" target="_blank">Jeremy Sklarsky</a>
       
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-xs" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End About Modal -->


  <span id="map-wrapper">
      <div class="row">
          <span class="hidden" id="show-btn"><button class="btn btn-info no-newline" onclick="toggleHeatmap()">Toggle Heatmap</button></span>
          <span class="hidden" id="show-btn"><button class="btn btn-info no-newline" onclick="changeGradient()">Change Gradient</button></span>
          <span class="hidden" id="show-btn"><button class="btn btn-info no-newline" onclick="changeRadius()">Change Radius</button></span>
          <span class="hidden" id="show-btn"><button class="btn btn-info no-newline" onclick="changeOpacity()">Change Opacity</button></span>
          <span class="hidden" id="hide-btn"><button class="btn btn-info no-newline" onclick="toggleHeatmap()">Toggle Heatmap</button></span>
          <span class="hidden" id="hide-btn"><button class="btn btn-info no-newline" onclick="changeGradient()">Change Gradient</button></span>
          <span class="hidden" id="hide-btn"><button class="btn btn-info no-newline" onclick="changeRadius()">Change Radius</button></span>
          <span class="hidden" id="hide-btn"><button class="btn btn-info no-newline" onclick="changeOpacity()">Change Opacity</button></span>
          <span class="hidden" id="show-pins-btn"><button class="btn btn-info">Show Restaurants</button></span>
          <span class="hidden" id="hide-pins-btn"><button class="btn btn-info">Hide Restaurants</button></span>
      </div>
    <div id="map-canvas"></div>
  </span>